@import 'bootstrap';
@import 'products';
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/
#container{
    overflow : hidden ;
    width: 800px;
    margin: 50px auto;
}

div#table_unit{
  padding:40px 60px;
  border-radius: 15px;
  border: 1px solid #DDE;

  div#alert{
    background-color: #F66;
    padding: 10px;
    border-radius: 10px;
    text-align:center;
    margin: 30px 0px;
    font-size:14px;
  }
}